$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
// body {
//     padding-top: 20px;
//     padding-bottom: 20px;
// }

body {
  font-family: "Trade Gothic Bold";
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

#intro {
  padding-top: 4em;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    padding: 0;
    margin: 0;
    background: black;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.jumbotron img {
    padding: 0em 2em 0em 2em;
}

.center {
  margin: 0 auto;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}


@font-face {
	font-family: 'Trade Gothic Bold';
	src: url('trade-gothic-bold.eot') format('eot'),
	     url('trade-gothic-bold.woff') format('woff'),
	     url('trade-gothic-bold.ttf')  format('truetype'),
	     url('trade-gothic-bold.svg#trade-gothic-bold') format('svg');
}
